@charset "utf-8"
*{margin: 0;padding: 0;}
body{
background: url("images/iu.jpg ") no-repeat;background-size:cover;}
a{
display: block;/* 升级为块级元素*/ 
background: #BFA9B4;
text-decoration: none;
color: #fff;
font-size: 18px;
margin: 200px auto;
width: 50px;
text-align: center;
font-weight: 600;
padding: 15px;
border-radius: 10px;
transition: all 1s ease;}
a:hover{
background: #E5E5E5;
color: #404040;
transition: all 1s ease;/* 过渡 渐变 */
transform: scale(2) rotate(360deg);   /*scale放大效果 rotate旋转效果*/}